<div class="container">
  <form action="/add" method="POST">
    <div class="row blockrow">
      <div class="input-field col s12">
        <input id="name" type="text" class="validate" name="name" placeholder="name" />
      </div>
      <div class="input-field col s12">
        <input id="price" type="number" class="validate" name="price" placeholder="price" />
      </div>
      <div class="input-field col s12">
        <input id="img" type="text" class="validate" name="img" placeholder="img (url)" />
      </div>
      <button type="submit" class="waves-effect waves-light btn">Send</button>
    </div>
  </form>
</div>