<div class="container">
  <form action="/add/edit" method="POST">
    <div class="row">
      <div class="input-field col s12">
        <input id="name" type="text" class="validate" name="name" value="{{name}}" />
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="price" type="number" class="validate" name="price"  value="{{price}}" />
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="img" type="text" class="validate" name="img"  value="{{img}}"/>
      </div>
    </div>
    <input type="hidden" value="{{id}}" name="id">
    <button type="submit" class="waves-effect waves-light btn">Send</button>
  </form>
</div>