* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.d-flex {
    margin: 0;
    width: 461px;
}

.navbar-expand-lg {
    width: 100%;
}

.free {
    margin-top: 11vh;
}

.input-field input {
    width: 40%;
    height: 33px;
    border: none;
    border: 1px solid rgb(54, 54, 54);
    margin: 9px;
}

.s12 button {
    width: 100px;
    height: 43px;
    background: rgb(0, 74, 235);
    color: #fff;
}

.card {
    flex-direction: unset;
    display: block;
    width: 100%;
    height: 436px;
    margin: 9px;
}

.card-image {
    padding: 27px;
    width: 100%;
    height: 355px;
}

.card-image img {
    width: 100%;
    height: 100%;
}

.backg {
    background: rgb(223, 223, 223);
    margin-right: calc(var(--bs-gutter-x) * .0);
    margin-left: calc(var(--bs-gutter-x) * .0);
}

.backg h1 {
    background: rgb(122, 195, 255);
}

.card-image .card-title {
    font-family: monospace;
    font-weight: 700;
    border-bottom: 1px solid;
    margin-left: 9px;
    font-size: 17px;
}

.card-content p {
    padding-left: 9px;
    border-bottom: 1px solid;
}

.card-action {
    padding-left: 9px;
    padding-right: 9px;
}

.card-action a {
    text-decoration: none;
    font-size: 13px;
    color: black;
    font-weight: 700;
}

.p-page {
    width: 100%;
    height: 699px;
}

.editbox {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.aditrow {
    display: block;
    padding-top: 69px;
}

.aditrow .col-7 {
    margin: auto;
    background: rgb(228, 228, 228);
    padding-top: 13px;
    height: 325px;
}

.input-field input {
    width: 100%;
    margin: 0;
    border: none;
    border: 2px solid rgb(194, 194, 194);
}

.input-field {
    padding: 9px;
}

.waves-effect {
    width: 99px;
    height: 37px;
    background: rgb(182, 182, 182);
    margin-left: 11px;
    margin-bottom: 11px;
    font-family: monospace;
    font-weight: 700;
    margin-top: 44px;
}

.waves-effect:hover {
    background: rgb(182, 182, 182);
    box-shadow: 0 0 5px rgb(56, 121, 241);
}

.delate-click:hover {
    background: rgb(182, 182, 182);
    box-shadow: 0 0 5px rgb(56, 121, 241);
}

.p-img {
    height: 61vh;
}

.delate-click {
    width: 99px;
    height: 37px;
    background: rgb(182, 182, 182);
    margin-left: 11px;
    margin-bottom: 11px;
    font-family: monospace;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
}

.view-page {
    margin: auto;
}

.row {
    background: rgb(199, 199, 199);
    margin: 0;
}

.blockrow {
    display: block;
    height: 55vh;
}

h1 {
    border-bottom: 1px solid;
}